.intro {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
.intro-delay-1 {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.intro-delay-2 {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.intro-delay-3 {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
